* {
  box-sizing: border-box;
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.flexcontainer {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  align-items: stretch;
}

.flexitem {
  display: flex;
}

#menu {
  order: -1;
  flex: 0 0 15rem;
}

#content {
  order: 1;
  flex: 1 1 auto;
}
