@font-face {
	font-family: cormorantInfant;
	font-weight: normal;
	font-style: normal;
	src: url(fonts/cormorantinfant-semibold.otf);
}

@font-face {
	font-family: cormorantInfant;
	font-weight: bold;
	font-style: normal;
	src: url(fonts/cormorantinfant-bold.otf)
}

@font-face {
	font-family: proza;
	font-weight: normal;
	font-style: normal;
	src: url(fonts/prozaLibre-regular.ttf);
}

html,body {
	margin: 0px;
	padding: 0;
	overflow-x: hidden;
	font-family: cormorantInfant;
	background-color: #F9F9F9;
}

header {
	position: fixed;
	height: 90px;
	width: 100%;
	display: inline-block;
	overflow: hidden;
	padding: 40px 50px;
	z-index: 20;
}

.logo {
	font-size: 1.3rem;
	font-weight: bold;
	letter-spacing: 0.2rem;
	position: fixed;
	z-index: 20;
	text-decoration: none;
	display: inline-block;
}

.social-links {
	width: 200px;
	position: fixed;
	right: 0;
	display: inline-block;
	padding-left: 30px;
	margin-right: 50px;
}

.social-links img {
	width: 20%;
	padding-left: 25px;
	float: right;
	opacity: 0.5;
}

.social-links a {
	text-decoration: none;
	opacity: 0.5;
}

.social-links a:hover {
	opacity: 1;
}

.sidenav {
	position: fixed;
	font-family: proza;
	font-weight: normal;
	font-size: 0.8rem;
	letter-spacing: normal;
	padding: 90px 50px;
}

.sidenav a {
	text-decoration: none;
	font-size: 0.8rem;
	color: #818181;
	display: block;
	z-index: 30;
}

.sidenav a:hover {
	color: black;
}

.projectHeader {
	margin-top: 1rem;
}

h1 {
	font-size: 1.3rem;
	font-weight: bold;
	letter-spacing: 0.2rem;
	text-align: left;
	margin-left: 3%;
	margin-bottom: 2%;
	width: 100%;
	text-decoration: none;
	z-index: 10;
	position: fixed;
}

.footer {
	font-family: proza;
	font-weight: normal;
	font-size: 0.6rem;
	letter-spacing: normal;
	display: block;
	color: #DEDEDE;
	bottom: 0;
	position: fixed;
	width: 100%;
	text-align: right;
	padding-right: 50px;
	padding-bottom: 40px;
}

img {
	width: 500px;
	vertical-align: middle;
}

.introContainer {
	position: relative;
	height: 100vh;
}

.meContainer {
	position: absolute;
	width: 500px;
	height: 282px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.meContainer img {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.meContainer .hover-vid {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}

.meContainer:hover .hover-vid {
	display: inline;
	width: 500px;
	height: 282px;
	/*background-image: url(".../img/underwater.mp4");*/
}

#workContainer {
	padding: 30% 0;
}

.projectContainer {
	position: relative;
	width: 100%;
	height: 25vh;
	margin-bottom: 1rem;
	opacity: 1;
	overflow: hidden;
}

.projectContainer img {
	width: 100%;
	height: 100%;
	z-index: 5;
	object-fit: cover;
}

.overlaytext {
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	/*	left:0;*/
	display: inline-block;
	color: white;
	font-size: 40px;
	text-align: center;
	line-height: auto;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.7);
	transition: .5s ease;
	z-index: 6;
	padding-top: 8%;
}

.overlaytextDicipline {
	font-family: proza;
	font-size: 15px;
	color: #C3C3C3;
}

.projectContainer:hover .overlaytext {
	opacity: 1;
}

a {
	color: black;
}

.fixed-bg {
	min-height: 700px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.tff-bg {
	background-image: url("../img/TFF.png");
}

.medic-bg {
	background-image: url("../img/medicBanner.jpg");
}

.ins-bg {
	background-image: url("../img/insBG.jpg");
}

.scrolling {
	min-height: auto;
	width: 100%;
	background-color: #F9F9F9;
	padding-top: 13rem;
}

h2 {
	overflow: visible;
	font-style: bold;
	font-size: 6rem;
	letter-spacing: 0.8rem;
	float: middle;
	text-align: left;
}

h3 {
	display: inline-block;
	font-style: bold;
	font-size: 1.3rem;
	padding-top: 4rem;
	text-align: left;
}

.subtitles {
	width: 100%;
}

h4  {
	display: inline-block;
	font-style: bold;
	font-size: 1.3rem;
	padding-top: 4rem;
	text-align: left;
}

h5 {
	font-style: medium;
	font-size: 1.1rem;
	padding-top: 4rem;
	text-align: left;
	width: 45rem;
}

.tffName {
	margin-top: -30%;
}

.medicName {
	margin-top: -21%;
}

.insName {
	margin-top: -21%;
}

.projectIntro {
	font-family: proza;
	text-align: left;
	width: 45%;
	display: block;
	line-height: 2;
}

.plist {
	font-size: 0.8rem;
	line-height: 2;
	width: 110%;
	display: block;
}

#details {
	display: block;
	width: 100%;
	height: 300px;
}

.content {
	font-family: proza;
	font-size: 0.85rem;
	text-align: left;
	width: 45%;
	line-height: 2;
	display: block;
}

.businessQuote {
	font-family: cormorantInfant;
	font-size: 1.5rem;
	text-align: left;
	padding-top: 3rem;
	padding-bottom: 3.5rem;
	width: 60%;
	line-height: 1.5;
	display: block;
}

.insightsQuote {
	font-family: cormorantInfant;
	font-size: 1.2rem;
	text-align: left;
	width: 60%;
	line-height: 1;
	display: block;
}

.businessesImg {
	width: 100%;
	margin-top: 4.5rem;
	position: relative;
	height: auto;
}

.personaImg {
	margin-top: 2rem;
	position: relative;
	width: 100%;
	height: auto;
	align-items: left;
}

.line {
	width: 35px;
	height: 47px;
	border-bottom: 1px solid black;
	display: inline-block;
	text-align: left;
}

.clientIntro {
	font-family: proza;
	font-size: 0.83rem;
	text-align: left;
	width: 45%;
	line-height: 2;
	display: block;
	margin-top: 0rem;
}

.proposalImg {
	width: 200px;
	padding-top: 2rem;
	display: relative;
}

.contentNum {
	font-family: cormorantInfant;
	display: inline-block;
	font-style: bold;
	font-size: 1.8rem;
	line-height: 1.5;
}

mark {
	color: black;
}

.tffMark {
	background-color: #FCAF19;
}

.medicMark {
	background-color: #FF7643;
}

.insMark {
	background-color: #E1306C;
}

/* horizontal scroll container */
#solutionContainer {
	overflow-x: auto;
	white-space: nowrap;
	outline-style: solid;
	outline-color: #fff;
	outline-width: 8px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 2rem;
}

/* mockup bg squares */
.mockups {
	height: 50%;
	width: 50%;
	display: inline-block;
	/*-moz-box-sizing: border-box;
	box-sizing: border-box;*/
	vertical-align: middle;
	margin-right: 20rem;
}

.solutionContent {
	display: inline-block;
	padding-left: 10%;
	padding-top: 15rem;
	text-align: left;
}

#wireframeContainer {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 2rem;
}

.sketches {
	width: 100%;
	padding-bottom: 5%;
}

.wireframe {
	width: 50%;
	display: inline-block;
	vertical-align: middle;
}

.wireframeContent {
	display: inline-block;
	padding-top: 45%;
	text-align: left;
	padding-left: 10%;
}

.precedence {
	width: 50%;
	padding: 5% 0;
	display: block;
}

.nextProject {
	font-size: 1.5rem;
	letter-spacing: 0.3rem;

	color: white;
	text-align: center;
	text-decoration: none;
	background-color: black;
	width: 100%;

	text-align: center;
	height: 800%;
	vertical-align: top;
	line-height: 800%;
	display: inline-block;
	margin-top: 5%;
}

.nextProjectBG {
	width: 100%;
	height: 10%;
	position: relative;
}
