@font-face {
	font-family: cormorantInfant;
	font-weight: 100;
	font-style: normal, bold;
	src: url(fonts/cormorantinfant-semibold.otf);
	src: url(fonts/cormorantinfant-bold.otf)
}

@font-face {
	font-family: proza;
	font-weight: 100;
	font-style: normal, medium;
	src: url(fonts/prozaLibre-regular.ttf);
	src: url(fonts/prozaLibre-medium.ttf);
}

html,body {
	margin: 0px;
	padding: 0;
	overflow-x: hidden; 
	font-family: cormorantInfant;
}

#navbar {
	height: 5rem;
	background-color: white;
	color: black;
	position: fixed;
	top: 0;
	width: 100%;
	display:block;
	transition: top 0.3s;
}

.projectHeader {
	margin-top: 1rem;
}

h1 { 
	font-size: 1.8rem;
	letter-spacing: 0.5rem;
	text-align: center;
	position: fixed; 
	width: 100%;
	margin-top: 3.3rem;
	text-decoration: none;
}

#top {
	height: 9rem;
}

img {
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
}

#leftRight {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20% 0;
}

/* horizontal line */
a.prev, a.next {
	width: 100%; /* line width */
	border-bottom: 1px solid #000;
	line-height: 0.1rem;
	display: inline-block;
	opacity: 0.7;
	text-decoration: none;
}

/* prev text */
a.prev span {
	background: #fff;
	padding: 0 10px 0 8px;
}

/* next text */
a.next span {
	background: #fff;
	padding: 0 8px 0 10px;
}

a.prev:hover, a.next:hover {
	opacity: 1;
	-webkit-transition: all 0.2s ease;
}

/* horizontal line */
a.prev {
	text-align: right;
}

a {
	color: #4A4A4A;
	border: 0; 
	outline: 0;
	display: inline-block;
}

.slider-Container {
	justify-content: center;
}

#slider {
	position: relative;
	overflow: hidden; /* without this next images would show */
	/*margin: 20px auto 0 auto;*/
	display: inline-block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#slider ul {
	position: relative;
	padding: 0;
	list-style: none;
	/*	height: 400px;*/
	margin: 0;
}

#slider ul li {
	position: relative;
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
	width: auto;
	height: 500px;
	/*background: #ccc;*/
	text-align: center;
	line-height: 500px;
}

li img {
	z-index: 1;
}

#slider:hover .overlaytext {
	opacity: 1;
}

.overlaytext {
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	display: block;
	color: white;
	font-size: 40px;
	text-align: center;
	opacity: 0;
	background-color: rgba(56, 56, 56, 0.5);
	transition: .5s ease;
}

.pagedot li a {
	width: 8px;
	height: 8px;
	background-color: #E7E7E7;
	border-radius: 50%;
	display: inline-block;
	margin-left: 1rem;
	margin-right: 1rem;
}

.pagedot ul {
	width: 100%;
	position: relative;
	display: inline-block;
	margin-left: 38%;
	padding: 0;
	/*margin-top: 23%;*/
	list-style: none;
	text-align: center;
	width: 100%;
	margin-top: 3rem;
}

.pagedot li {
	position: relative;
	display: block;
	float: left;
	margin-top: 0px;
	margin-right: 16px;
	margin-bottom: 0px;
	margin-left: 16px;
	cursor: pointer;
}

.pagedot li a:hover {
	width: 8px;
	height: 8px;
	background-color: black;
	border-radius: 50%;
}

.pagedot li a.selected:link, li a.selected:visited {
	width: 10px;
	height: 10px;
	background-color: black;
	border-radius: 50%;
	transition: width .5s ease, height .5s ease;
}

.fixed-bg {
	min-height: 700px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.tff-bg {
	background-image: url("../img/TFF.png");
}

.medic-bg {
	background-image: url("../img/medicBGG.jpg");
}

.ins-bg {
	background-image: url("../img/insBG.jpg");
}

.scrolling {
	min-height: auto;
	width: 100%; 
	background-color: #F9F9F9;
	padding-top: 13rem;
}

h2 {
	overflow: visible;
	font-style: bold;
	font-size: 6rem;
	letter-spacing: 0.8rem;
	float: middle;
	text-align: left;
}

h3 {
	display: inline-block;
	font-style: bold;
	font-size: 1.3rem;
	padding-top: 4rem;
	text-align: left;
}

.suntitles {
	width: 100%;
}

h4  {
	display: inline-block;
	font-style: bold;
	font-size: 1.3rem;
	padding-top: 4rem;
	text-align: left;
}

h5 {
	font-style: medium;
	font-size: 1.1rem;
	padding-top: 4rem;
	text-align: left;
	width: 45rem;
}

.tffName {
	margin-top: -30%;
}

.medicName {
	margin-top: -21%;
}

.insName {
	margin-top: -21%;
}

.projectIntro {
	font-family: proza;
	text-align: left;
	width: 45%;
	display: block;
	line-height: 2;
}

.plist {
	font-size: 0.8rem;
	line-height: 2;
	width: 110%;
	display: block;
}

#details {
	display: block;
	width: 100%;
	height: 300px;
}

.content {
	font-family: proza;
	font-size: 0.85rem;
	text-align: left;
	width: 45%;
	line-height: 2;
	display: block;
}

.businessQuote {
	font-family: cormorantInfant;
	font-size: 1.5rem;
	text-align: left;
	padding-top: 3rem;
	padding-bottom: 3.5rem;
	width: 60%;
	line-height: 1.5;
	display: block;
}

.insightsQuote {
	font-family: cormorantInfant;
	font-size: 1.2rem;
	text-align: left;
	width: 60%;
	line-height: 1;
	display: block;
}

.businessesImg {
	width: 100%;
	margin-top: 4.5rem;
	position: relative;
	height: auto;
}

.personaImg {
	margin-top: 2rem;
	position: relative;
	height: auto;
	align-items: left;
}

.line {
	width: 35px;
	height: 47px;
	border-bottom: 1px solid black;
	display: inline-block;
	text-align: left;
}

.clientIntro {
	font-family: proza;
	font-size: 0.83rem;
	text-align: left;
	width: 45%;
	line-height: 2;
	display: block;
	margin-top: 0rem;
}

.proposalImg {
	width: 200px;
	padding-top: 2rem;
	display: relative;
}

.contentNum {
	font-family: cormorantInfant;
	display: inline-block;
	font-style: bold;
	font-size: 1.8rem;
	line-height: 1.5;
}

mark {
	color: black; 
}

.tffMark {
	background-color: #FCAF19;
}

.medicMark {
	background-color: #FF7643;
}

.insMark {
	background-color: #E1306C;
}

/* horizontal scroll container */
#solutionContainer {
	overflow-x: auto;
	white-space: nowrap;
	outline-style: solid;
	outline-color: #fff;
	outline-width: 8px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 2rem;
}

/* mockup bg squares */
.mockups {
	height: 50%;
	width: 50%;
	display: inline-block;
	/*-moz-box-sizing: border-box;
	box-sizing: border-box;*/
	vertical-align: middle;
	margin-right: 20rem;
}

.solutionContent {
	display: inline-block;
	padding-left: 10%;
	padding-top: 15rem;
	text-align: left;
}

#wireframeContainer {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 2rem;
}

.sketches {
	width: 100%;
	padding-bottom: 5%;
}

.wireframe {
	width: 50%;
	display: inline-block;
	vertical-align: middle;
}

.wireframeContent {
	display: inline-block;
	padding-top: 45%;
	text-align: left;
	padding-left: 10%;
}

.precedence {
	width: 50%;
	padding: 5% 0;
	display: block;
}

.footer {
	font-size: 1.5rem;
	letter-spacing: 0.3rem;
	margin-top: 8rem;
	background-color: black;
	color: white;
	width: 100%;
	padding: 10%;
	text-align: center;
	text-decoration: none;
}
